

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               value="<%= bookScheme.title %>"
               name="title"
               class="form-control"
               id="title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text"
               value="<%= bookScheme.description %>"
               name="description"
               class="form-control"
               id="description">
    </div>

    <div class="form-group">
        <label for="authors">Authors</label>
        <input type="text"
               value="<%= bookScheme.authors %>"
               name="authors"
               class="form-control"
               id="authors">
    </div>

    <div class="form-group">
        <label for="favorite">Favorite</label>
        <input type="text"
               value="<%= bookScheme.favorite %>"
               name="favorite"
               class="form-control"
               id="favorite">
    </div>

    <div class="form-group">
        <label for="fileCover">FileCover</label>
        <input type="text"
               value="<%= bookScheme.fileCover %>"
               name="fileCover"
               class="form-control"
               id="fileCover">
    </div>

