<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>
<a class="btn btn-sm btn-primary" href="/books/create">Create book</a>

<% if(books.length) { %>
    <table class="table table-striped table-sm  mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <% books.map((book, idx) => { %>
            <tr>
                <th scope="row"><%= idx + 1 %></th>
                <td><%= book.getTitle() %></td>
                <td class="text-right">
                    <a class="btn btn-sm btn-success" id="view_book" href="/books/book/<%= book.getId() %>">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book.getId() %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= book.getId() %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            <script>
                const view_book = document.querySelector("#view_book");
                view_book.addEventListener("click", () => {
                    fetch("<%= process.env.COUNTER_URL %>/counter/<%= book.getId() %>/incr", {method: "POST"})
                });
            </script>
        <% }) %>

        </tbody>
    </table>

<% } else { %>
    <h3 class="mt-5">There are no notes</h3>
<% } %>

<%- include('../port/layout-end') %>